mat-card{
    height: 7rem;
    background-color: var(--bg-container-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem; 
    cursor: pointer;
    text-align: center;
    border: 2px solid var(--border-primary);
    border-radius: 8px;
    transition: all 0.2s ease;
}
 
mat-card:hover{
    background-color: var(--item-hover);
    transform: translateY(-4px);
}

.mat-mdc-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.value{
    color: var(--box-text-color);
    font-size: 46px;
    font-weight: 400;
}

.label{
    font-size: 14px;
    color: var(--text-primary);
}