.container {
    background-color: var(--bg-container-primary);
    border-radius: 8px;
    height: 100%;
    padding: 1rem;
    border: 2px solid var(--border-primary);
}

app-main-button{
    --bg-button-main: var(--bg-button-print);
    --bg-button-main-hover: var(--bg-button-print-hover);
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: var(--text-link);
    text-decoration: underline;
}